<form role='form'>
	<div class='form-group'>
	  <label for='latitud'>Latitud</label> 
	  <input id='latitud' type=number class='form-control'  ng-model='config.center.lat'
	      placeholder='Enter Latitud'>
	</div>
	
	<div class='form-group'> 
	   <label for='longitud'>Longitud</label> 
	   <input id='longitud' type='number' class='form-control'  ng-model='config.center.lon' 
	   placeholder='Enter Longitud'>
	</div>
	
	<div class=form-group> 	
	    <label for='zoom'>Zoom</label> 
		<input id='zoom' type='number' class='form-control'  ng-model='config.center.zoom'
		placeholder='Enter Zoom'>
	</div>
</form>